

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1"/>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
    <script type="text/javascript" src="static/js/d3.js"></script>
</head>

<body>
<div>
	<h2>植物知识图谱</h2>
	<p>节点可拖拽并固定，双击解除固定，点此<a href="/">刷新</a></p>
</div>


<script type="text/javascript">
    var w = 1280,
            h = 800,
            r = 30,
            //colors = d3.scaleOrdinal(d3.schemeCategory20c);
			colors = d3.scaleOrdinal().domain(["species","subspecies","organ"]).range(["#6DCE9E","#FF756E","#68BDF6"]);

    var force = d3.forceSimulation()
            .velocityDecay(0.2)
            .alphaDecay(0)
            .force("charge", d3.forceManyBody().strength(-100)) //负值表示设置为互斥力
            .force("x", d3.forceX(w / 2).strength(0.02))
            .force("y", d3.forceY(h / 2).strength(0.02))
			;

    var svg = d3.select("body").append("svg")
            .attr("width", w)
            .attr("height", h);
	
	
    d3.json("static/data/result.json", function (data) {
        var nodes = data.nodes;
        var links = data.links;

        force.nodes(nodes); // <-D
        force.force("link", d3.forceLink(links).strength(1).distance(200));

		  //设置箭头
		  var arrowsize=8
		  svg.append('defs').append('marker')
		    	.attr('id','arrowhead')
				.attr('viewBox','-0 -5 10 10')
		    	.attr('refX',45)
		    	.attr('refY',0)
		    	.attr('orient','auto')
		    	.attr('markerWidth',arrowsize)
		    	.attr('markerHeight',arrowsize)
		    	.attr('xoverflow','visible')
		    	.append('svg:path')
		    	.attr('d', 'M 0,-5 L 10 ,0 L 0,5')
		    	.attr('fill', '#999')
		    	.style('stroke','none');
		  //设置连线，加上箭头
		  link = svg.selectAll(".link")
            .data(links)
            .enter()
            .append("line")
            .attr("class", "link")
            .attr('marker-end','url(#arrowhead)')
		  //连线上加title
          link.append("title")
            .text(function (d) {return d.rel;});
		
		//利用path加上text
		var lineFunction=d3.line()  //用d3.line函数将links中的source和target的xy值自动生成path的"d"参数需要的形式
				.x(function (d){return d.source.x?d.source.x:d.target.x})
				.y(function (d){return d.source.y?d.source.y:d.target.y});
		edgepaths = svg.selectAll(".edgepath")
            .data(links)
            .enter()
            .append('path')
            .attr('class', 'edgepath')
            .attr('id', function (d, i) {return 'edgepath' + i}) //每个path元素加上id，以便与下面的textpath绑定
			.attr("d",function (d) {return lineFunction(d)}) //将lineFunction自动生成的"M x1 y1 L x2 y2"的形式传给d参数
            .attr("stroke", "grey")
            .attr("stroke-width", 2)
			.style("pointer-events", "none");

        edgelabels = svg.selectAll(".edgelabel")
            .data(links)
            .enter()
            .append('text')
            .style("pointer-events", "none")
            .attr('class', 'edgelabel')
            .attr('id', function (d, i) {return 'edgelabel' + i})
            .attr('font-size', 10)
            .attr('fill', '#aaa');

        edgelabels.append('textPath')
            .attr('xlink:href', function (d, i) {return '#edgepath' + i})
            .style("text-anchor", "middle")
            .style("pointer-events", "none")
            .attr("startOffset", "50%")
            .text(function (d) {return d.rel});
			


		  
		  var tooltip = d3.select("body").append("div").attr("id", "tooltip").style("opacity", 0);//悬浮窗
		  
          var nodeElements = svg.selectAll("circle.node")
              .data(nodes)
            .enter().append("circle")
              .attr("r", r)
              .style("fill", function(d) {
                  return colors(d.label);
              })
              .style("stroke", "#000")
              .call(d3.drag()
                      .on("start", dragStarted)
                      .on("drag", dragged)
                      .on("end", dragEnded))
				.on("dblclick",releaseNode)
				.on("mouseover",function(d){
					d3.select(this).style('stroke',"#999").style('stroke-width',5); //鼠标放在器官节点上，边框加粗
					if (d.properties.原文||d.properties.拉丁学名) {  //如果有原文或拉丁学名，显示在悬浮框tooltip中
					  tooltip.transition().duration(200).style("opacity", 0.9);      
					  tooltip.html(d.properties.原文?d.properties.原文:d.properties.拉丁学名).style("left", (d3.event.pageX) + "px").style("top", (d3.event.pageY - 28) + "px");  
					  }
					})
				.on("mouseout",function(d){
					d3.select(this).style('stroke',"black").style('stroke-width',1); //鼠标离开器官节点，边框复原，悬浮框隐藏
					tooltip.transition().duration(500).style("opacity", 0);  
					})
			
			var textScale=d3.scaleLinear().domain([1,6]).range([16,10]); //根据字符串长度自动插值字号大小
			
			var text=svg.selectAll("text.nodetext").data(force.nodes())
			  .enter().append("text")
			  .attr("class","nodetext")
			  .attr("color", "black")
			  .attr("text-anchor","middle")
			  .style("font-size",function (d){
					if (d.name.length<7){return textScale(d.name.length);} //如果字符串长度小于7，按插值计算字号大小
					else {return 10;} //如果大于7，字号取最小值10
					})
			  .text(function(d){
					return d.name;});
			
			
		 
          force.on("tick", function(e) {
            //linkpath.attr("d", function(d) { return "M "+boundX(d.source.x)+" "+boundY(d.source.y)+" L "+boundX(d.target.x)+" "+boundY(d.target.y); });
			
			link.attr("x1", function(d) { return boundX(d.source.x); })
                .attr("y1", function(d) { return boundY(d.source.y); })
                .attr("x2", function(d) { return boundX(d.target.x); })
                .attr("y2", function(d) { return boundY(d.target.y); });

            nodeElements.attr("cx", function(d) { return boundX(d.x); })
                .attr("cy", function(d) { return boundY(d.y); });
			
			text.attr("dx", function(d) { return boundX(d.x); })
                .attr("dy", function(d) { return boundY(d.y); });
			
			edgepaths.attr('d', function (d) {
				return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
				});

			edgelabels.attr('transform', function (d) {
				if (d.target.x < d.source.x) {
					var bbox = this.getBBox();
	
					rx = bbox.x + bbox.width / 2;
					ry = bbox.y + bbox.height / 2;
					return 'rotate(180 ' + rx + ' ' + ry + ')';
					}
				else {
					return 'rotate(0)';
					}	
				})
          });
    });
	//节点拖拽并固定，固定后节点变红色
    function dragStarted(d) {
        d.fx = boundX(d.x);
        d.fy = boundY(d.y);
    }

    function dragged(d) {
        d.fx = boundX(d3.event.x);
        d.fy = boundY(d3.event.y);
    }

    function dragEnded(d) {
        d.fx = boundX(d.x);
        d.fy = boundY(d.y);
		d3.select(this).style('fill',"#F00");
    }
	//双击解除节点固定，并恢复颜色
	function releaseNode(d) {
        d.fx = null;
        d.fy = null;
		d3.select(this).style('fill',colors(d.label));
    }
	//确保节点不会被拖拽到svg画布之外
	function boundX(x) {
		return x>(w-r)?(w-r):(x>r?x:r); 
	}
	
	function boundY(y) {
		return y>(h-r)?(h-r):(y>r?y:r);
	}
	
	//d3.json("static/data/result.json", function (data) {console.log(JSON.stringify(data, null, 4));}) //将Neo4j导出的json文件输出到控制台，便于查看
</script>

</body>

</html>